html, body {
    width: 100%;
    height: 100%;

}

div .pos_fixed {
    position: absolute;
    top: 9%;
    left: 10%;
}

div .pos_fixed2 {
    position: absolute;
    top: 9%;
    right: 30%;
}

div .pos_fixed3 {
    position: absolute;
    top: 60%;
    left: 20%;
}

div .pos_fixed4 {
    position: absolute;
    top: 65%;
    left: 5%;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 1;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
}

.main, #TGMap {
    width: 100%;
    height: 100%;
}

#pLevelBarBar {
    top: 35% !important;
    right: 2em !important;
    height: 8em !important;
}

#pLevelBarBar tbody table td {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
}

#pLevelBarBar tbody table td:active {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 100%;
}

.control-block {
    position: absolute;
    min-width: 256px;
    width: 25em;
    height: 35em;
    top: 18%;
    left: 2em;
    padding: 2em;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.5);
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.control-block input {
    width: 100%;
    text-align: center;
}

.control-block button {
    width: 100%;
}

.control-block .hide-control-button{
    position: absolute;
    display: none;
    top: 14.8em;
    width: 1.3em;
    height: 4em;
    border-radius: 5px 0px 0px 5px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    right: 0;
}

.control-block .hide-control-button:after {
    content: "\2329";
    text-align: center;
    display: block;
    margin-top: 0.6em;
    margin-left: -0.5em;
    font-size: 1.6em

}

.show-control-button {
    position: absolute;
    display: none;
    left: -1em;
    top: 25.2em;
    width: 1.3em;
    height: 4em;
    border-radius: 0px 5px 5px 0px;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    -webkit-transition-delay: 2s;
    transition-property: left;
    transition-duration: .5s;
    transition-delay: 5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.active-show {
    left: 0.5em;
}

.show-control-button:after {
    content: "\232a";
    display: block;
    margin-top: 0.6em;
    margin-left: 0.2em;
    font-size: 1.6em;
}

.main .active {
    display: inline-block;
}

.control-block .hide-control-button:active {
    color: white;
}

.hide-control {
    transform: translate(-30em);
}



